@page "/about"

<PageTitle>About</PageTitle>

<h1>About</h1>

<div class="w-100 d-flex mb-4">
    <div class="w-50 m-auto">
        <img class="w-75 m-auto" src="/images/logo.png"/>
    </div>
    <div class="w-50">
        <Check Text="Framework for building SPA"></Check>
        <Check Text="C# instead of JavaScript"></Check>
        <Check Text="Leverage the existing .NET ecosystem"></Check>
        <Check Text="Share app logic across server and client"></Check>
        <Check Text=".NET's performance, reliability, and security"></Check>
        <Check Text="Provided integrated development environment"></Check>
        <Check Text="Simplified API"></Check>
        <Check Text="Standardized API"></Check>
        <Check Text="Gentle learning curve"></Check>
        <Check Text="Decent documentation"></Check>
    </div>
</div>

<div class="alert alert-success">
    <h3 class="mb-0">Its all about components</h3>
</div>

@code {

}
