@page "/hosting-models"

<PageTitle>Hosting Models</PageTitle>

<h1>Hosting Models</h1>

<div class="row">
    <div class="col-6">
        <Card Title="Blazor Server">
            <div class="row">
                <div class="col-6">
                    <img class="w-100" src="/images/blazor-server.png">
                </div>
                <div class="col-6">
                    <ul>
                        <li>Complete .NET Core API compatibility</li>
                        <li>Direct access to server sources</li>
                        <li>Small payload size with fast initial load time</li>
                        <li>App code secure and private on the server</li>
                    </ul>
                </div>
            </div>
        </Card>
    </div>
    <div class="col-6">
        <Card Title="Blazor WebAssembly">
            <div class="row">
                <div class="col-6">
                    <img class="w-100" src="/images/blazor-webassembly.png">
                </div>
                <div class="col-6">
                    <ul>
                        <li>Run apps offline once downloaded</li>
                        <li>Static site hosting</li>
                        <li>Offloads processing to clients</li>
                    </ul>
                </div>
            </div>
        </Card>
    </div>
</div>


@code {

}
