@page "/"

<PageTitle>Intro</PageTitle>

<div class="my-5 py-5">
    <div class="my-5 py-5 text-center m-auto w-100">
        <h1>Introduction to Blazor</h1>

        <h3>a framework for building interactive client-side web UI with .NET</h3>
    </div>
    
</div>
<div class="w-100 d-flex">
    <a class="w-100 d-block text-right" href="https://georgi.karagogov.com/">Georgi Karagogov</a>
</div>
