@inherits LayoutComponentBase

<div id="snow"></div>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content p-4">
            <div class="card">
                <div class="card-body">
                    @Body
                </div>
            </div>
        </article>
    </main>
</div>
